:root {
  --fade-white: rgb(245, 245, 245);
  --pure-white: #fff;
  --fade-white-trans: rgba(245, 245, 245, 0.3);
  --rose-pearl: #f22e62;
  --pastel-blue: #7d7abf;
  --blue-magenta: #b5b4d9;
  --victory-blue: #393e59;
  --gray-0: #0e0e10; // ! body color
  --gray-1: #18181b; // ! header color
  --gray-2: #1f1f23; // ! sidebar color
  --gray-3: #26262c; // ! hover color
  --gray-2-fade1: #1f1f23b0;
  --gray-2-fade2: #1f1f23d5;

  // /* Color Theme Swatches in RGBA */
  // $Dowoodle-app-1-rgba: rgba(242, 46, 98, 1);
  // $Dowoodle-app-2-rgba: rgba(124, 122, 191, 1);
  // $Dowoodle-app-3-rgba: rgba(181, 179, 216, 1);
  // $Dowoodle-app-4-rgba: rgba(57, 61, 89, 1);
  // $Dowoodle-app-5-rgba: rgba(12, 12, 12, 1);

  // /* Color Theme Swatches in HSLA */
  // $Dowoodle-app-1-hsla: hsla(343, 88, 56, 1);
  // $Dowoodle-app-2-hsla: hsla(241, 35, 61, 1);
  // $Dowoodle-app-3-hsla: hsla(241, 32, 77, 1);
  // $Dowoodle-app-4-hsla: hsla(230, 21, 28, 1);
  // $Dowoodle-app-5-hsla: hsla(0, 0, 5, 1);
}
