.navigation {
  width: 24rem;
  background-color: var(--gray-2);

  &__section {
    h3 {
      letter-spacing: 1px;
      font-size: 1.4rem;
      text-transform: uppercase;
      font-family: "Roboto", sans-serif;
      color: var(--fade-white);
      margin: 3rem 0rem 1rem 1rem;
    }
  }

  &__item {
    height: 4.2rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    transition: background-color 200ms ease-in-out;

    &.active {
      background-color: var(--gray-3);
    }

    &:hover {
      background-color: var(--gray-3);
    }

    i {
      height: 3rem;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.9rem;
      text-decoration: none !important;
      color: var(--rose-pearl);
    }

    p {
      font-size: 1.5rem;
      font-family: "Roboto", sans-serif;
      margin: 0.8rem;
      color: var(--fade-white);
    }
  }
}
